@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url("/public/_fonts/bubblegum-sans-regular.otf");
}

body {
    background-color: rgb(247, 238, 238);
}
/***Formatação de corpo e cabecalho***/
div#interface {
    width: 1000px;
    background-color: rgb(158, 223, 243);
    margin: 10px auto 10px auto;
    padding: 10px 10px 10px 10px;
    box-shadow: 15px 5px 10px rgb(245, 215, 241);

}

