#cabecalho-artigo {
  h3 {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 12.5pt;
    font-style: italic;
    font-weight: bolder;
    color: black;
    text-decoration: solid;
  }
  h4 {
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 8pt;
    font-weight: 900;
  }
}

.foto-legenda-1,
.foto-legenda-2 {
  position: relative;
  border: 0.3rem solid #d8b4fe;
  box-shadow: 0.2rem 0.2rem 0.4rem #d8b4fe;
}

figcaption {
  opacity: 0;
  position: absolute;
  top: 0rem;
  background-color: rgba(167, 232, 248, 0.8);
  color: black;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: opacity 0.5s ease-in;
  font-family: "Gill Sans";
  font-weight: bolder;
}
figcaption:hover {
  opacity: 0.7;
}

p {
  text-align: center;
  text-transform: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  font-style: italic;
}

table {
  margin-bottom: 2.18rem;
  margin-top: 2.18rem;
}

table caption {
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  font-weight: bolder;
  vertical-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  span {
    color: rgb(219, 49, 211);
    font-size: 0.9rem;
    float: right;
  }
}

table.tabelaFamiliar {
  border: 0.1rem solid black;
  border-spacing: 0.1rem;
  margin-left: auto;
  margin-right: auto;

  td {
    border: 0.1rem solid rgb(219, 49, 185);
    padding: 0.4rem;
    text-align: center;
    vertical-align: middle;
  }

  .ce {
    color: black;
    font-size: 0.9rem;
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
    vertical-align: middle;
  }

  .cd {
    color: black;
    font-size: 1.2rem;
    font-size: medium;
    vertical-align: middle;
  }
}
