#corpo {
  display: block;
  width: 30.5rem;
  float: inline-start;
  border-right: 0.1rem solid rgb(68, 2, 13);
  padding-right: 1.2rem;
}

#cabecalho-artigo {
  h3 {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 12.5pt;
    font-style: italic;
    font-weight: bolder;
    color: black;
    text-decoration: solid;
  }
  h4 {
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 8pt;
    font-weight: 900;
  }
}

.foto-legenda-1,
.foto-legenda-2 {
  position: relative;
  border: 3px solid pink;
  box-shadow: 2px 2px 4px rgb(228, 127, 144);
}

.foto-legenda-1 img {
  width: 100%;
  height: 100%;
}

.foto-legenda-2 img {
  width: 100%;
  height: 100%;
}

figcaption {
  opacity: 0;
  position: absolute;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: opacity 0.5s ease-in;
  font-family: "Gill Sans";
  font-weight: bolder;
}
figcaption:hover {
  opacity: 0.7;
}

p {
  text-align: center;
  text-transform: lowercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  font-style: italic;
}

.expressadoAmor,
.perguntaFamiliaSangue,
.perguntaIdeiaSite,
.perguntaIntuitoSite {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-weight: 900;
  color: rgb(7, 7, 7);
  text-decoration: solid;
}

table {
  margin-bottom: 35px;
  margin-top: 35px;
}

table caption {
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  font-weight: bolder;
  vertical-align: center;
  margin-top: 5px;
  margin-bottom: 5px;

  span {
    color: rgb(219, 49, 211);
    font-size: 15px;
    float: right;
  }
}

table.tabelaFamiliar {
  border: 1px solid black;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;

  td {
    border: 1px solid rgb(219, 49, 185);
    padding: 5px;
    text-align: center;
    vertical-align: middle;
  }

  .ce {
    color: black;
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
    vertical-align: middle;
  }

  .cd {
    color: black;
    font-size: 18px;
    font-size: medium;
    vertical-align: middle;
  }
}

// ***** CONFIGURAÇÃO RESPONSIVA ******
// TVs (telas muito grandes)
@media (min-width: 1920px) {
  #corpo {
    width: 900px;
    padding-right: 200px;
  }
  #cabecalho-artigo h1 {
    font-size: 25pt;
  }
}

// Tablets
@media (max-width: 1024px) {
  #corpo {
    width: 90%;
    float: none;
    padding-right: 30px;
  }

  .evento-agenda {
    font-size: 16pt;
    text-align: center;
  }

  #cabecalho-artigo {
    h1 {
      font-size: 14pt;
    }
    h3 {
      font-size: 11pt;
    }
    h4 {
      font-size: 10pt;
      text-align: center;
    }
  }
}

// Celulares
@media (max-width: 768px) {
  #corpo {
    width: 100%;
    float: none;
    padding: 0 15px;
    border-right: none;
  }

  .evento-agenda {
    font-size: 14pt;
    text-align: center;
    margin: 10px 0;
  }

  #cabecalho-artigo {
    h1 {
      font-size: 13pt;
    }
    h3 {
      font-size: 10pt;
    }
    h4 {
      font-size: 9pt;
    }
  }
}
